.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fce6f6;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ff85da;
}

.cabecalho h1 {
  margin: 0;
  font-size: 1.4rem;
}

.cabecalho a {
  background-color: crimson;
  padding: 5px 12px;
  border-radius: 5px;
}

.conteudo {
  padding: 5px;
  height: 100%;
}
